body {
    margin: 0;
    background-color: #000;
    color: #00ff41;
    font-family: 'Courier New', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.terminal {
    width: 95%;
    max-width: 750px;
    border: 2px solid #00ff41;
    padding: 50px;
    background: rgba(0, 15, 0, 0.95);
    box-shadow: 0 0 40px #00ff41;
    text-align: center;
    position: relative;
    z-index: 10;
}

input {
    width: 85%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #00ff41;
    color: #fff;
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
    outline: none;
    margin-top: 30px;
}

button {
    margin-top: 45px;
    background: #00ff41;
    color: #000;
    border: none;
    padding: 20px 60px;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

#status-bar {
    margin-top: 80px;
    font-size: 1.1rem;
    color: #008800;
    font-weight: bold;
}

#final-result {
    margin-top: 25px;
    font-size: 3.5rem;
    font-weight: bold;
}

/* --- SCHOVANÉ PRVKY PŘI STARTU --- */

#radek-ears-container {
    display: none;
    position: absolute;
    top: -140px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
}

#bitcoin-container {
    display: none;
    position: fixed;
    top: 0; left: 0; width: 100%;
    text-align: center;
    z-index: 5;
}

#bitcoin-container img { max-width: 100%; height: auto; }

#top-image-container {
    position: fixed;
    top: 20px; right: 20px;
    display: flex; flex-direction: column; gap: 15px;
    z-index: 100;
}

#top-image-container img {
    display: none;
    max-height: 250px;
    border: 2px solid #00ff41;
}

#furry-label {
    position: fixed;
    bottom: 30px; right: 30px;
    color: #ff00ff;
    font-weight: bold;
    display: none;
    font-size: 2rem;
    text-shadow: 0 0 15px #ff00ff;
}

#video-overlay, #idiot-overlay {
    display: none;
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    z-index: 1000;
    justify-content: center; align-items: center;
}
#idiot-overlay { background: #000; color: #fff; font-size: 3rem; text-align: center; }

/* LGBT MODE */
.rainbow-mode { animation: rainbowBorder 2s infinite linear !important; }
.rainbow-mode button { animation: rainbowBg 2s infinite linear !important; color: white !important; }
@keyframes rainbowBorder { 0% { border-color: red; } 33% { border-color: blue; } 66% { border-color: yellow; } 100% { border-color: red; } }
@keyframes rainbowBg { 0% { background-color: red; } 33% { background-color: blue; } 66% { background-color: yellow; } 100% { background-color: red; } }
