body {
    margin: 0;
    background-color: #000;
    color: #00ff41;
    font-family: 'Courier New', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.terminal {
    width: 95%;
    max-width: 750px;
    border: 2px solid #00ff41;
    padding: 50px;
    background: rgba(0, 15, 0, 0.95);
    box-shadow: 0 0 40px #00ff41;
    text-align: center;
    position: relative;
    z-index: 10;
}

#radek-ears-container {
    position: absolute;
    top: -140px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    z-index: 20;
}

input {
    width: 85%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #00ff41;
    color: #fff;
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
    outline: none;
    margin-top: 30px;
}

button {
    margin-top: 45px;
    background: #00ff41;
    color: #000;
    border: none;
    padding: 20px 60px;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

#status-bar {
    margin-top: 80px;
    font-size: 1.1rem;
    color: #008800;
    font-weight: bold;
}

#final-result {
    margin-top: 25px;
    font-size: 3.5rem;
    font-weight: bold;
}

#furry-label {
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: #ff00ff;
    font-weight: bold;
    display: none;
    font-size: 2rem;
}

#video-overlay, #idiot-overlay {
    display: none;
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

#idiot-overlay { background: #000; color: #fff; font-size: 3rem; text-align: center; }
