body {
    margin: 0;
    /* POUŽITÍ TVÉHO NAHRANÉHO GIFU */
    background: url('pozadi.gif') no-repeat center center fixed; 
    background-size: cover;
    background-color: #000;
    color: #00ff41;
    font-family: 'Courier New', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    perspective: 1200px; /* Nutné pro 3D efekt */
}

.terminal {
    width: 90%;
    max-width: 650px;
    border: 2px solid #00ff41;
    padding: 40px;
    background: rgba(0, 15, 0, 0.9);
    
    /* ZAKULACENÍ ROHŮ */
    border-radius: 30px;
    
    /* 3D NAKLONĚNÍ A ZÁŘE */
    box-shadow: 0 0 40px rgba(0, 255, 65, 0.5);
    transform: rotateX(6deg) rotateY(-3deg); 
    
    text-align: center;
    position: relative;
    backdrop-filter: blur(3px);
}

input {
    width: 80%;
    background: rgba(0, 30, 0, 0.6);
    border: 1px solid #00ff41;
    border-radius: 12px;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px;
    text-align: center;
    outline: none;
    margin-top: 20px;
}

button {
    margin-top: 30px;
    background: #00ff41;
    color: #000;
    border: none;
    border-radius: 15px;
    padding: 15px 40px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #00ff41;
}

#status-bar { margin-top: 50px; font-weight: bold; }
#final-result { margin-top: 20px; font-size: 3rem; font-weight: bold; }
