body {
    margin: 0;
    background-color: #000;
    color: #00ff41;
    font-family: 'Courier New', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.terminal {
    width: 95%;
    max-width: 750px;
    border: 2px solid #00ff41;
    padding: 45px;
    background: rgba(0, 20, 0, 0.95);
    box-shadow: 0 0 40px #00ff41;
    text-align: center;
    position: relative;
    z-index: 10;
}

input {
    width: 85%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #00ff41;
    color: #fff;
    font-size: 1.4rem;
    padding: 10px;
    text-align: center;
    outline: none;
    margin-top: 25px;
}

button {
    margin-top: 40px;
    background: #00ff41;
    color: #000;
    border: none;
    padding: 18px 50px;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
}

#status-bar {
    margin-top: 70px;
    font-size: 1rem;
    color: #004400;
    font-weight: bold;
    letter-spacing: 2px;
}

#final-result {
    margin-top: 20px;
    font-size: 3rem;
    font-weight: bold;
}

#top-image-container img {
    max-height: 280px;
    border: 3px solid #00ff41;
    display: none;
}

#furry-label {
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: #ff00ff;
    font-weight: bold;
    display: none;
    font-size: 1.8rem;
    text-shadow: 0 0 15px #ff00ff;
}

#video-overlay, #idiot-overlay {
    display: none;
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

#idiot-overlay { background: #000; color: white; font-size: 2.5rem; text-align: center; }

/* LGBT MODE ANIMACE */
.rainbow-mode { animation: rainbowBorder 2s infinite linear !important; }
.rainbow-mode button { animation: rainbowBg 2s infinite linear !important; color: #fff !important; }
@keyframes rainbowBorder { 0% { border-color: red; } 33% { border-color: blue; } 66% { border-color: yellow; } 100% { border-color: red; } }
@keyframes rainbowBg { 0% { background-color: red; } 33% { background-color: blue; } 66% { background-color: yellow; } 100% { background-color: red; } }
