body {
    margin: 0;
    background-color: #000;
    color: #00ff41;
    font-family: 'Courier New', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.terminal {
    width: 90%;
    max-width: 700px;
    border: 2px solid #00ff41;
    padding: 40px;
    background: rgba(0, 10, 0, 0.9);
    box-shadow: 0 0 30px #00ff41;
    text-align: center;
    position: relative;
}

input {
    width: 80%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #00ff41;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px;
    text-align: center;
    outline: none;
    margin-top: 20px;
}

button {
    margin-top: 30px;
    background: #00ff41;
    color: #000;
    border: none;
    padding: 15px 40px;
    font-weight: bold;
    cursor: pointer;
}

#status-bar { margin-top: 50px; font-weight: bold; }
#final-result { margin-top: 20px; font-size: 3rem; font-weight: bold; }

/* Pozice pro uši - budou se vkládat nad nadpis */
.ears-style {
    position: absolute;
    top: -130px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
}
